/* General */
body {
    font-size: 12px;
}
/* END General */



/* Modal */
.modal-content {
    width: 85%;
}
.modal-section, .modal-hr {
    width: unset;
}
/* END Modal */



/* Navbar */
#dvrpc-logo {
    width: 55px;
}
/* END Navbar */



/* Main Webmap Area */
.overlay {
    top: calc(1em + var(--padding-double) + 14.5px);
    width: 20em;
    width: calc(100vw - 60.5px - var(--padding-double));
    min-height: calc(116px - var(--padding-double));
    background-color: white;
}
.overlay-details {
    margin: var(--padding) 0 var(--padding-half) 0;
}
.overlay-hr {
    margin: var(--padding) 0;
}
.mapboxgl-ctrl-geocoder {
    width: calc(100vw - 20px);
    font-size: 0.9rem;
}
.mapboxgl-ctrl-geocoder--input {
    height: 30px;
    padding: 6px 35px;
    padding-right: 0;
}
.mapboxgl-ctrl-geocoder--icon-search {
    top: 3px;
    left: 6px;
}
/* END Main Webmap Area */