:root {
    --modal-height: 675px;
    --modal-header-height: 48px;
}
h1 {
	font-size: 1rem;
	max-width: unset;
	margin: 0 8px;
}



.nav {
	padding: 0 16px;
	width: calc(100% - 64px);
}



.overlay {
    padding: 8px;
}
.data-overlay {
    top: 130px;
    height: 102px;
    overflow-y: auto;
}
.mapboxgl-ctrl-geocoder {
	max-width: unset;
	width: calc(100vw - 32px);
}
.mapboxgl-ctrl-geocoder--input {
    height: 32px;
    font-size: 0.9em;
}
.mapboxgl-ctrl-geocoder--icon {
    top: 5px;
    left: 8px;
}
.mapboxgl-popup-close-button {
    color: var(--theme-white);
}
.thumb-popup {
    flex-direction: column;
    min-height: 310px;
    max-height: 450px;
    width: 250px;
}
.thumb-popup-logistics, .thumb-popup-details {
    width: auto;
    height: auto;
    max-height: 225px;
}



.close-modal {
	line-height: initial;
	margin: 4px 0 0 0;
	right: 4px;
}
.modal-content {
    width: 90%;
}
.modal-logo {
    width: 64px;
}